@model DoItYourself.Data.Models.Question

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Questions
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="~/Questions/Index">Questions</a>
            </li>
            <li class="active">Details</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success text-center">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @Model.Title
                </h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">@Model.Content</li>
                <li class="list-group-item">@Model.Category.Name</li>
                <li class="list-group-item">@Model.CreatedOn</li>
                <li class="list-group-item">@Model.QuestionComment.Count() comments</li>
                <li class="list-group-item">Author: @Model.User.UserName</li>
            </ul>
        </div>
    </div>
</div>