@model DoItYourself.Web.ViewModels.Questions.QuestionIndexViewModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Questions
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">Questions</li>
        </ol>
        @if (this.User.Identity.IsAuthenticated)
        {
            <div class="btn btn-warning pull-right" style="margin-bottom: 10px;">
                <a href="~/Questions/Add">Ask Question</a>
            </div>
        }
    </div>
</div>


@foreach (var question in Model.Questions)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="text-left">
                        @Html.ActionLink((string)question.Title, "Details", "Questions", new { id = question.Id }, null)
                    </span>
                    <span class="pull-right">
                        @question.Category
                    </span>
                </div>
                <div class="panel-body">
                    <p>
                        @question.Content
                    </p>
                </div>
                <div class="panel-footer">
                    <span class="text-left">
                        @question.Author
                    </span>
                    <span class="pull-right">
                        @question.CreatedOn
                    </span>
                </div>
            </div>
        </div>
    </div>
}